@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

.font-montserrat {
  font-family: "Montserrat", cursive;
}
.font-mooli {
  font-family: "Mooli", cursive;
}
@font-face {
  font-family: "RegularFont";
  src: url("/fonts/AdobeClean-Light.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BoldFont";
  src: url("/fonts/AdobeClean-BoldSemiCn.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-para_regular {
  font-family: "RegularFont", sans-serif;
}
.font-heading_bold {
  font-family: "BoldFont", sans-serif;
}

.heading {
  font-family: "BoldFont";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
}

.paragraph {
  font-family: "RegularFont", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.02em;
}
